spring:
  datasource:
    url: jdbc:mysql://192.168.0.60:3306/kikin_db
    username: root
    password: root
    driver-class-name: com.mysql.cj.jdbc.Driver
  web:
    resources:
      static-locations: classpath:/static/
  thymeleaf:
    cache: false
