<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Cache-Control" content="no-cache">
<meta http-equiv="Expires" content="Thu, 01 Dec 1994 16:00:00 GMT">
<title>エラー</title>

<link rel="stylesheet" media="all" th:href="@{/css/common.css}" />
<script th:src="@{/js/common.js}"></script>
<script th:src="@{/js/message.js}"></script>
</head>

<body>
	<div id="wrapper">

		<!-- ===== エラーヘッダー ===== -->
		<div id="errorHeader">
			<table class="full-width">
				<tr>
					<td id="headLeft"></td>
					<td id="headCenter">エラー画面</td>
					<td id="headRight">
						<div th:insert="menu-fragment :: hamburgerMenu"></div>
					</td>
				</tr>
			</table>
		</div>

		<!-- ★ ヘッダー直下に余白を作る（重要） -->
		<div style="height: 20px;"></div>

		<!-- ===== エラー本文 ===== -->
		<div id="errorBusinessBody">
			<div style="text-align: center; padding-top: 30px;">例外が発生しました。
			</div>
		</div>

		<!-- ===== フッター ===== -->
		<div id="errorFooter"></div>

	</div>
</body>
</html>
