<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Cache-Control" content="no-cache">
<meta http-equiv="Expires" content="Thu, 01 Dec 1994 16:00:00 GMT">
<title>メニュー画面</title>
<link rel="stylesheet" media="all" th:href="@{/css/common.css}" />
<script type="text/javascript" th:src="@{/js/common.js}"></script>
<script type="text/javascript" th:src="@{/js/message.js}"></script>
<script>
	function updateClock() {
		const now = new Date();
		const h = String(now.getHours()).padStart(2, '0');
		const m = String(now.getMinutes()).padStart(2, '0');
		const s = String(now.getSeconds()).padStart(2, '0');
		document.getElementById('clock').textContent = `${h}:${m}:${s}`;
	}

	// 1秒ごとに時計を更新
	setInterval(updateClock, 1000);

	// ページ表示時に1回実行
	updateClock();
</script>
</head>

<body>
	<div id="wrapper">
		<div id="clock">--:--:--</div>
		<div id="header"></div>
		<div th:insert="menu-fragment :: hamburgerMenu"></div>
	</div>
</body>

</html>