<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Cache-Control" content="no-cache">
<meta http-equiv="Expires" content="Thu, 01 Dec 1994 16:00:00 GMT">
<title>給料情報登録画面</title>
<link rel="stylesheet" media="all" th:href="@{/css/common.css}" />
<script th:src="@{/js/common.js}"></script>
<script th:src="@{/js/message.js}"></script>
<script th:src="@{/js/checkCommon.js}"></script>
<style>
.btn-social-circle{
  display: inline-block;
  text-decoration: none;
  width: max-content;
  border-radius: 40%;
  text-align: center;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.66);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.28);
  transition: .3s;
}
.btn-social-circle:hover{
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.28);
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
}
.button{
	padding: 0 20px 0 20px;
	border: 2px solid rgba(255, 255, 255, 0.6);
	background-color: rgba(0, 198, 183, 0.7);
	margin: 5px 0;
}
.input{
	margin: 0 auto;
}

</style>

</head>

<body>
	<div id="wrapper">

		<!-- ヘッダ -->
		<div id="header">
			<table class="full-width">
				<tr>
					<td id="headCenter">給料情報</td>
				</tr>
			</table>
			<div th:insert="menu-fragment :: hamburgerMenu"></div>
		</div>

		<!-- 一覧 -->
		<div id="businessBody" style="overflow-x: hidden;">
			<table class="overflowFixed">
				<thead>
					<tr class="tableHeader">
						<th width="100">役職</th>
						<th width="100">基本給</th>
						<th width="100">夜間</th>
						<th width="100">残業</th>
						<th width="100">特別手当</th>
						<th width="100">更新</th>
						<th width="100">削除</th>
					</tr>
				</thead>

				<tbody class="tableBody">
					<tr th:each="salaryInfo, stat : ${salaryInfoList}">
						<form th:action="@{/kikin/salaryInformation/update}" method="post">
							<td align="center"><input type="text" name="postName"
								th:value="${salaryInfo.postName}" readonly style="width: 80px;">
							</td>

							<td align="center"><input type="number" name="basicSalary"
								th:value="${salaryInfo.basicSalary}" style="width: 80px;">
							</td>

							<td align="center"><input type="number" name="nightPrice"
								th:value="${salaryInfo.nightPrice}" style="width: 80px;">
							</td>

							<td align="center"><input type="number" name="overtimePrice"
								th:value="${salaryInfo.overtimePrice}" style="width: 80px;">
							</td>

							<td align="center"><input type="number" name="otherPrice"
								th:value="${salaryInfo.otherPrice}" style="width: 80px;">
							</td>

							<td align="center"><input type="submit" value="更新" class="btn-social-circle button">
							</td>
						</form>

						<td align="center">
							<form th:action="@{/kikin/salaryInformation/delete}"
								method="post">
								<input type="hidden" name="postName"
									th:value="${salaryInfo.postName}"> <input type="submit"
									value="削除" class="btn-social-circle button">
							</form>
						</td>
					</tr>
				</tbody>

				<!-- 新規登録 -->
				<tfoot class="tableBody">
					<tr
						th:if="${insertPostList != null and !#lists.isEmpty(insertPostList)}">
						<form th:action="@{/kikin/salaryInformation/insert}" method="post">
							<td align="center"><select name="postName" required
								style="width: 90px;">
									<option th:each="postName : ${insertPostList}"
										th:value="${postName}" th:text="${postName}"></option>
							</select></td>

							<td align="center"><input type="number" name="basicSalary"
								value="0" style="width: 80px;"></td>
							<td align="center"><input type="number" name="nightPrice"
								value="0" style="width: 80px;"></td>
							<td align="center"><input type="number" name="overtimePrice"
								value="0" style="width: 80px;"></td>
							<td align="center"><input type="number" name="otherPrice"
								value="0" style="width: 80px;"></td>

							<td colspan="2" align="center"><input type="submit"
								value="登録" class="btn-social-circle button"></td>
						</form>
					</tr>
				</tfoot>

			</table>
		</div>
	</div>
</body>
</html>
